.attribution {
    font-size: 11px;
    text-align: right;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
header {
    background-image: url("../images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    max-width: available;
}
h1 {
    font-family: "Fraunces" , serif;
    font-size: 48px;
    font-weight: 900;
    color: white;
    text-align: center;
    padding: 64px 0;
    letter-spacing: 16px;

}
.btn {
    font-family: "Fraunces" , serif;
    color: black;
    background-color: white;
    border-radius: 30px;
    font-size: 15px;
}
li {
    all: unset;
}
.menu-items {
    font-family: Barlow;
    color: white;
}
.menu {
    display: flex;
    padding: 10px 0 25px;
    font-size: 18px;
    font-weight: 700;
    justify-content: space-between;
}
* {
    margin: 0;
}
a {
    all: unset;
    padding: 15px 30px;
}
nav {
    max-width: 100%;
    padding: 40px 45px;
    height: 50px;
}
.arrow {
    margin: 0 auto;
}
img {
    display: block;
    max-width: 100%;
}
